@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Rowdies:wght@400;700&display=swap');

.PS_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 900px;
    color: #703519;
}

.PS_left{
    background: url('../../assets/Asset.png') no-repeat;
    background-size: cover;
    width: 630px;
    height: 430px;
    rotate: -90deg;
    position: absolute;
    left: 155px;
    top: 2665px;
    z-index: 1;
}

.PS_right{
    background: url('../../assets/Artboard_20.png') no-repeat;
    background-size: cover;
    width: 1120px;
    height: 800px;
    position: absolute;
    right: -20px;
    display: flex;
    flex-direction: column;
}

.PS_title{
    padding-top: 150px;
    font-family: "Rowdies", cursive;
    font-size: 30px;
    margin-left: 60px;
}

.PS_content{
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    padding-inline: 350px;
    margin-left: 60px;
    text-align: justify;
}

.PS_content p{
    margin-block: 20px;
}

.PS_button{
    background: url('../../assets/Button.png') no-repeat;
    background-size: cover;
    width: 300px;
    height: 150px;
    margin-left: 450px;
}

.PS_button p{
    padding-top: 87px;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    color: #F0DCC0CC;
}

@media (min-width: 1025px) and (max-width: 1200px) {    
    .PS_left{
        width: 500px;
        height: 300px;
        left: 20px;
        top: 2405px;
    }
    
    .PS_right{
        width: 820px;
        height: 600px;
        right: 20px;
        top: 2250px;
    }
    
    .PS_title{
        padding-top: 110px;
        font-size: 24px;
        margin-left: 70px;
    }
    
    .PS_content{
        font-size: 16px;
        padding-inline: 250px;
        margin-left: 70px;
    }
    
    .PS_content p{
        margin-block: 9px;
    }
    
    .PS_button{
        width: 200px;
        height: 100px;
        margin-left: 345px;
    }
    
    .PS_button p{
        padding-top: 55px;
        font-size: 16px;
    }
}

@media (max-width: 1024px) {
    .PS_left{
        width: 500px;
        height: 300px;
        left: 20px;
        top: 2405px;
    }
    
    .PS_right{
        width: 820px;
        height: 600px;
        right: 20px;
        top: 2250px;
    }
    
    .PS_title{
        padding-top: 110px;
        font-size: 24px;
        margin-left: 70px;
    }
    
    .PS_content{
        font-size: 16px;
        padding-inline: 250px;
        margin-left: 70px;
    }
    
    .PS_content p{
        margin-block: 9px;
    }
    
    .PS_button{
        width: 200px;
        height: 100px;
        margin-left: 345px;
    }
    
    .PS_button p{
        padding-top: 55px;
        font-size: 16px;
    }
}

@media (max-width: 800px) {
    .PS_container{
        height: 700px;
    }

    .PS_left{
        width: 390px;
        height: 240px;
        left: 35px;
        top: 2105px;
    }
    
    .PS_right{
        width: 620px;
        height: 450px;
        right: 10px;
        top: 2000px;
    }
    
    .PS_title{
        padding-top: 85px;
        font-size: 20px;
        margin-left: 50px;
    }
    
    .PS_content{
        font-size: 13px;
        padding-inline: 170px;
        margin-left: 55px;
    }
    
    .PS_content p{
        margin-block: 3px;
    }
    
    .PS_button{
        width: 160px;
        height: 80px;
        margin-left: 255px;
    }
    
    .PS_button p{
        padding-top: 45px;
        font-size: 14px;
    } 
}

@media (max-width: 768px) {
    .PS_container{
        height: 600px;
    }

    .PS_left{
        width: 350px;
        height: 200px;
        left: 45px;
        top: 2020px;
    }
    
    .PS_right{
        width: 620px;
        height: 450px;
        right: 10px;
        top: 1890px;
    }
    
    .PS_title{
        padding-top: 85px;
        font-size: 20px;
        margin-left: 50px;
    }
    
    .PS_content{
        font-size: 13px;
        padding-inline: 170px;
        margin-left: 55px;
    }
    
    .PS_content p{
        margin-block: 3px;
    }
    
    .PS_button{
        width: 160px;
        height: 80px;
        margin-left: 255px;
    }
    
    .PS_button p{
        padding-top: 45px;
        font-size: 12px;
    }
}

@media (max-width: 600px) {
    .PS_container{
        height: 600px;
    }

    .PS_left{
        width: 260px;
        height: 180px;
        left: 5px;
        top: 1832px;
    }
    
    .PS_right{
        width: 516px;
        height: 375px;
        right: 10px;
        top: 1708px;
    }
    
    .PS_title{
        padding-top: 70px;
        font-size: 16px;
        margin-left: 46px;
    }
    
    .PS_content{
        font-size: 11px;
        padding-inline: 150px;
        margin-left: 45px;
    }
    
    .PS_content p{
        margin-block: 3px;
    }
    
    .PS_button{
        width: 121px;
        height: 69px;
        margin-left: 220px;
    }
    
    .PS_button p{
        padding-top: 34px;
        font-size: 10px;
    }
}

@media (max-width: 480px) {
    .PS_container{
        height: 540px;
    }

    .PS_left{
        width: 220px;
        height: 145px;
        left: -20px;
        top: 1656px;
    }
    
    .PS_right{
        width: 448px;
        height: 324px;
        right: 0px;
        top: 1548px;
    }
    
    .PS_title{
        padding-top: 58px;
        font-size: 14px;
        margin-left: 37px;
    }
    
    .PS_content{
        font-size: 9px;
        padding-inline: 130px;
        margin-left: 39px;
    }
    
    .PS_content p{
        margin-block: 3px;
    }
    
    .PS_button{
        width: 121px;
        height: 69px;
        margin-left: 180px;
    }
    
    .PS_button p{
        padding-top: 34px;
        font-size: 10px;
    }
}

@media (max-width: 320px) {
    .PS_container{
        height: 380px;
    }

    .PS_left{
        width: 140px;
        height: 95px;
        left: -14px;
        top: 1500px;
    }
    
    .PS_right{
        width: 306px;
        height: 223px;
        right: 0px;
        top: 1420px;
    }
    
    .PS_title{
        padding-top: 41px;
        font-size: 10px;
        margin-left: 30px;
    }
    
    .PS_content{
        font-size: 6.3px;
        padding-inline: 85px;
        margin-left: 30px;
    }
    
    .PS_content p{
        margin-block: 3px;
    }
    
    .PS_button{
        width: 65px;
        height: 36px;
        margin-left: 136px;
    }
    
    .PS_button p{
        padding-top: 18px;
        font-size: 5px;
    }
}