@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Rowdies:wght@400;700&display=swap');

.ExPro_container {
    font-family: "Rowdies", cursive;
    display: flex;
    justify-content: center;
    color: #703519;
}

.ExPro_background {
    background: url('../../assets/Artboard_113_1.png') no-repeat center center;
    background-size: contain;
    align-items: center;
    position: relative;
    height: 1000.98px;
    padding: 10px;
    margin: 10px;
    width: 1200px;
    display: flex;
    flex-direction: column;
}

.ExPro_title {
    font-size: 36px;
    margin-top: 180px;
    margin-bottom: 10px;
}

.ExPro_img {
    width: 708px;
    height: 285px;
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
}

.ExPro_img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.ExPro_menu {
    font-size: 28px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ExPro_menu a {
    margin-inline: 15px;
    cursor: pointer;
}

.ExPro_menu a:hover {
    color: #d56e4d
}

.ExPro_menu a.active {
    text-decoration: underline;
    color: #d56e4d
}

.ExPro_content {
    font-family: 'Roboto Slab', serif;
    white-space: wrap;
    font-size: 24px;
    text-align: justify;
    padding-inline: 240px;
    height: 305px;
}

.ExPro_content p{
    margin-block: 10px;
}

.ExPro_footer {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 30px;
}

/* CSS cho hiệu ứng chuyển đổi */
.ExPro_img_transition {
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
}

.fade-in {
    transform: translateX(0);
    opacity: 1;
}

.fade-out {
    transform: translateX(5%);
    opacity: 0;
}

.ExPro_content {
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.ExPro_content.fade-in {
    opacity: 1;
    transform: translateX(0);
}

.ExPro_content.fade-out {
    opacity: 0;
    transform: translateX(-5%);
}


/* Styles for smaller screens (tablets and mobile) */
@media (min-width: 1025px) and (max-width: 1200px) {
    .ExPro_title {
        font-size: 34px;
        margin-top: 230px;
    }

    .ExPro_img {
        width: 60%;
        margin-bottom: 12px;
    }

    .ExPro_menu {
        font-size: 24px;
    }

    .ExPro_menu a {
        margin-inline: 10px;
    }

    .ExPro_content {
        font-size: 20px;
        padding-inline: 200px;
        height: 260px;
    }

    .ExPro_footer {
        font-size: 26px;
    }
}

@media (max-width: 1024px) {
    .ExPro_title {
        font-size: 34px;
        margin-top: 230px;
    }

    .ExPro_img {
        width: 60%;
        height: 24%;
        margin-bottom: 12px;
    }

    .ExPro_menu {
        font-size: 26px;
    }

    .ExPro_menu a {
        margin-inline: 10px;
    }

    .ExPro_content {
        font-size: 20px;
        padding-inline: 200px;
        height: 250px;
    }

    .ExPro_footer {
        font-size: 26px;
    }
}

@media (max-width: 800px) {

    .ExPro_background{
        height: 626px;
    }
    
    .ExPro_title {
        font-size: 24px;
        margin-top: 100px;
    }

    .ExPro_img {
        width: 60%;
        height: 182px;
        margin-bottom: 12px;
    }

    .ExPro_menu {
        font-size: 20px;
    }

    .ExPro_menu a {
        margin-inline: 10px;
    }

    .ExPro_content {
        font-size: 14px;
        padding-inline: 150px;
        height: 195px;
    }

    .ExPro_footer {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .ExPro_background{
        height: 600px;
    }

    .ExPro_title {
        font-size: 24px;
        margin-top: 90px;
    }

    .ExPro_img {
        width: 60%;
        margin-bottom: 12px;
    }

    .ExPro_menu {
        font-size: 20px;
    }

    .ExPro_menu a {
        margin-inline: 10px;
    }

    .ExPro_content {
        font-size: 14px;
        padding-inline: 150px;
        height: 190px;
    }

    .ExPro_footer {
        font-size: 20px;
    }
}

@media (max-width: 600px) {
    .ExPro_background{
        height: 520px;
    }

    .ExPro_title {
        font-size: 18px;
        margin-top: 100px;
    }

    .ExPro_img {
        width: 60%;
        height: 135px;
        margin-bottom: 10px;
    }

    .ExPro_menu {
        font-size: 16px;
    }

    .ExPro_menu a {
        margin-inline: 10px;
    }

    .ExPro_content {
        font-size: 10px;
        padding-inline: 120px;
        height: 140px;
    }

    .ExPro_footer {
        font-size: 15px;
    }
}

@media (max-width: 480px) {
    .ExPro_background{
        height: 420px;
    }

    .ExPro_title {
        font-size: 14px;
        margin-top: 80px;
    }

    .ExPro_img {
        width: 60%;
        height: 106px;
        margin-bottom: 5px;
    }

    .ExPro_menu {
        font-size: 12px;
    }

    .ExPro_menu img{
        width: 7%;
    }

    .ExPro_menu a {
        margin-inline: 5px;
    }

    .ExPro_content {
        font-size: 8.5px;
        padding-inline: 90px;
        height: 115px;
    }

    .ExPro_footer {
        font-size: 12px;
    }
}

@media (max-width: 320px) {
    .ExPro_background{
        height: 320px;
    }

    .ExPro_title {
        font-size: 9.5px;
        margin-top: 75px;
    }

    .ExPro_img {
        width: 60%;
        height: 67px;
        margin-bottom: 5px;
    }

    .ExPro_menu {
        font-size: 7.5px;
    }

    .ExPro_menu img{
        width: 7%;
    }

    .ExPro_menu a {
        margin-inline: 5px;
    }

    .ExPro_content {
        font-size: 6.3px;
        padding-inline: 55px;
        height: 70px;
    }

    .ExPro_content p{
        margin-block: 1.5px;
    }

    .ExPro_footer {
        font-size: 8px;
    }
}